.textContainer{
    align-items: center;
    display: flex;
    width: 100%;
    margin-top: 5%;
    background-color: #61dafb;
}
.textInput{
    flex: 1;
    overflow: hidden;
    display: flex;
    height: 20%;
    padding: 4% ;
}
